# Configurações do Banco de Dados PostgreSQL
POSTGRES_DB=dbsteam
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Configurações da API
API_PORT=3000

# Configurações do Ambiente
NODE_ENV=development